/**{
  border: 1px solid red;
}*/
html, body {
  height: 100%;
}

header {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f4f4f4
}

nav {
  display: flex;
  flex-grow: 1
}


.logo {
  display: flex;
  margin-left: 1.3em;
  font-size: 20px;
  align-items: center;
}

.fa-bars {
  font-size: 20px;
  padding: 5px;
  border: 1px solid transparent;
  color: #ccc;
}

.fa-bars:hover {
  border: 1px solid red;
}

.top-search {
  display: flex;
  flex-grow: 2;
  align-items: center;
  font-size: 15px;
}



.top-right-icon {
  flex-grow: 1;
}

.top-right-icon ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.top-search input{
  width: 90%;
  color: gray;
}

.fa-search{
  padding: 0.2em 1em 0.2em 1em;
  background-color: gray;
  margin: 0em;
}







































/*
.header {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  width: 33.33%;
  display: inline;
  text-align: left;
}
.top-search {
 align-items: center;
  width: 33.33%;
  display: inline;
  text-align: center;
}
input{

}
.top-right-icon {
  width: 33.33%;
  display: inline;
  text-align: right;
}

.logo{
  display: inline;
}
.menu{
  display: none;
}

li{
  display: inline;
  margin: 5px;
}
ul{
  display: inline;
}
.fa-search, .fa-bars, .fa-youtube-play {
  font-size: 25px;
}

.fa-bars {
  padding: 5px;
  border: 1px solid transparent;
  color: #f3f3f3;
}

.fa-bars:hover {
  border: 1px solid red;
} */
