body {
  background-color: aqua;
}
.header {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  width: 33.33%;
  display: inline;
  text-align: left;
}
.top-search {
 align-items: center;
  width: 33.33%;
  display: inline;
  text-align: center;
}
input{

}
.top-right-icon {
  width: 33.33%;
  display: inline;
  text-align: right;
}

.logo{
  display: inline;
}
.menu{
  display: inline;
}

li{
  display: inline;
  margin: 5px;
}
ul{
  display: inline;
}

